# Remplissez les valeurs entre chevrons avec vos informations Discord OAuth2

DISCORD_CLIENT_ID=<your_client_id>
DISCORD_CLIENT_SECRET=<your_client_secret>
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/callback/discord
DISCORD_OAUTH_SCOPE=identify
DISCORD_OAUTH_BASE=https://discord.com/api/oauth2

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=une_chaine_random_longue

DATABASE_URL="file:./dev.db"
